
		<div class="row theme-overview">
			<form class="col s12 m3 sidebar">
				<label>Sort By…</label>
				{{view "select"
					contentBinding="this.sortByKeys"
					selectionBinding="this.sortBy"}}

				<label>Airport</label>
				{{view "select"
					contentBinding="this.airportList"
					selectionBinding="this.airport"}}

				<label for="length">Length of Stay (Days)</label>
				{{view "select"
					contentBinding="this.stayLengths"
					selectionBinding="this.lengthOfStay"}}

				<label>Maximum Price (USD)</label>
				<p class="range-field">
					{{input type="range" min="300" max="1500" value=this.maxPrice}}
				</p>
			</form>

			<div class="col s12 m9 content">
				<h3>{{this.title}}</h3>

				<div class="row">

					{{#each flight in this.results}}
						<div class="col s12 m6">
							<div class="card">
								<div class="card-image waves-effect waves-block waves-light">
									{{keyword-image keywords=flight.city class="activator"}}
								</div>
								<div class="card-content">
									<span class="card-title activator grey-text text-darken-4">
										{{flight.city}}
										<i class="mdi-navigation-more-vert right"></i></span>
									<p><a href="#">This is a link</a></p>
								</div>
								<div class="card-reveal">
									<span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
									<p>Here is some more information about this product that is only revealed once clicked on.</p>
								</div>
							</div>
						</div>
					{{/each}}

				</div>
			</div>
		</div>
