
		<div class="row theme-overview">
			<form class="col s12 m3 sidebar">
				<label>Sort By…</label>
				{{view "select"
					contentBinding="this.sortByKeys"
					selectionBinding="this.sortBy"}}

				<label>Airport</label>
				{{view "select"
					contentBinding="this.airportList"
					selectionBinding="this.airport"}}

				<label for="length">Length of Stay (Days)</label>
				{{view "select"
					contentBinding="this.stayLengths"
					selectionBinding="this.lengthOfStay"}}

				<label>Maximum Price (USD)</label>
				<p class="range-field">
					{{input type="range" min="300" max="1500" value=this.maxPrice}}
				</p>

				<button class="btn">Apply Filters</button>
			</form>

			<div class="col s12 m9 content">
				<h3>{{this.title}}</h3>

				<div class="row">
					{{#each flight in this.results}}
						<div class="col s12 m6">
							<div class="card">
								<div class="card-image waves-effect waves-block waves-light">
									{{keyword-image keywords=flight.city class="activator"}}
								</div>
								<div class="card-content">
									<span class="card-title activator grey-text text-darken-4">
										{{flight.city}}
										<i class="mdi-navigation-more-vert right"></i></span>
								</div>
								<div class="card-reveal">
									<span class="card-title grey-text text-darken-4">Flights <i class="mdi-navigation-close right"></i></span>
									
									<ul class="collection">
										{{#each itinerary in flight.flights}}
											<li class="collection-item">
												{{#each leg in itinerary.departing.legs}}
													{{leg.flightNumber}}
												{{/each}}

												<span class="badge">{{format-time itinerary.departing.departingTime minute="2-digit" hour="2-digit" day="2-digit" month="numeric"}} ({{format-number itinerary.cost style="currency" currency="USD"}})</span>
											</li>
										{{/each}}
									</ul>
								</div>
							</div>
						</div>
					{{/each}}

				</div>
			</div>
		</div>
